# ignore temp files w/ trailing ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store 
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.gz
*.fdb_latexmk
*.fls
*.RData

# don't ignore the .gitignore file
!.gitignore

# ignore folders
/back_up
/report
